<div class="form-group">
    <input type="text" class="form-control" required [(ngModel)]="employeeName" placeholder="ENTER EMPLOYEE NAME">
  </div>
  <br>
  <div class="form-group">
    <input type="number" class="form-control" required [(ngModel)]="employeeAge" placeholder="ENTER EMPLOYEE AGE">
  </div>
  <br>
  <div class="form-group">
    <input type="number" class="form-control" required [(ngModel)]="employeeSalary" placeholder="ENTER EMPLOYEE SALARY">
  </div>
  <br>
  <div class="form-group">
    <button class="btn btn-primary" (click)="createRecord()">Create Employee</button> 
  </div>