
<div>
  <nav class="navbar navbar-expand">
    <a href="#" style="text-decoration: none; color: white;" class="navbar-brand">Employee CRUD</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="employees" style="text-decoration: none; color: white;" class="nav-link">Employee</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" style="text-decoration: none; color: white;" class="nav-link">Add Employee</a>
      </li>
    </div>
  </nav>

  <div class="justify-content-center">
    <router-outlet></router-outlet>
  </div>
</div>